/* font-family: 'Bebas Neue', cursive;
font-family: 'Montserrat', sans-serif; */
@font-face {
  font-family: "DIN Pro";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/DINPro.ttf");
}
@font-face {
  font-family: "DIN Pro-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/DINPro-Bold.ttf");
}
@font-face {
  font-family: "DIN Pro-Medium";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/DINPro-Medium.ttf");
}
@font-face {
  font-family: "DIN Pro-italic";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/DINPro-Italic.ttf");
}
@font-face {
  font-family: "DIN Round Pro";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/dinroundpro.otf");
}
@font-face {
  font-family: "DIN Round Pro-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/dinroundpro_bold.otf");
}

/* =========================================== general styles ============================================== */

*,
*::after,
*::before {
  max-width: 100%;
}
html,
body {
  height: 100%;
  font-family: "DIN Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
}
.page__content {
  flex: 1 1 100%;
}
.container {
  max-width: 1175px;
  padding: 0 15px;
  margin: 0 auto;
}

.title {
  font-family: "DIN Round Pro-Bold";
  font-weight: 700;
  font-size: 37px;
  line-height: 48px;
  text-transform: uppercase;
  color: #000000;
}
.subtitle {
  font-family: "DIN Round Pro-Bold";
  font-weight: 700;
  font-size: 37px;
  line-height: 48px;
  color: #000000;
}
.subtitle span {
  display: inline-block;
  background-color: #009f9a;
  color: #fff;
}
.section__title {
  font-family: "DIN Round Pro-Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 128%;
  text-align: center;
  color: #009f9a;
}
.section__title span {
  display: inline-block;
  border-bottom: 2px solid black;
}

@media (max-width: 600px) {
  .container {
    width: 300px;
  }
  .title {
    font-size: 20px;
    line-height: 120%;
    text-align: center;
  }
  .subtitle {
    font-size: 20px;
    line-height: 120%;
    text-align: center;
  }
}

/* ======================================== header  ========================================================  */

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}
.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0px;
}
.header__content {
  display: flex;
  align-items: center;
}
.header__logo {
  padding-right: 16px;
}
.header__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #303d4d;
}

.call__block {
  display: flex;
  align-items: flex-end;
  padding-right: 17px;

  position: relative;
  z-index: 5;
}
.call__text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.call__number {
  font-family: "DIN Pro-Bold";
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  color: #000000;
}
.call__order {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  text-decoration-line: underline;
  color: #303d4d;
}
.call__block-effect {
  width: 454.79px;
  height: 123.02px;
  background-color: #fff;
  filter: blur(80px);
  border-radius: 90%;
  position: absolute;
  top: 0;
  right: 10%;
}
@media (max-width: 786px) {
  .header__text {
    display: none;
  }
}
@media (max-width: 600px) {
  .call__icon img {
    display: none;
  }
  .call__number {
    font-size: 16px;
  }
  .header__logo img {
    width: 100px;
    height: 40px;
  }
  .call__block-effect {
    display: none;
  }
}
/* ======================================== main  ========================================================  */

.main__content {
  background: url("../img/main/background.png") 50% 0 no-repeat;
  background-size: cover;
}
.main__title {
  padding-top: 157px;
  max-width: 880px;
}

.main__subtitle {
  max-width: 880px;
  padding-bottom: 33px;
}
.main__descr {
  font-family: "DIN Pro-Bold";
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #056d6a;

  max-width: 810px;
  padding-bottom: 33px;
}
.main__descr span {
  color: #000000;
}
.main__list {
  display: flex;
  flex-direction: column;
  max-width: 475px;
  padding-bottom: 42px;
}
.main__list > *:not(:last-child) {
  padding-bottom: 15px;
}
.main__item {
  display: flex;
  align-items: center;
}
.main__item-icon {
  padding-right: 15px;
  flex: 0 1 10%;
}

.main__item-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  flex: 0 1 90%;
}
.main__form {
  padding-bottom: 100px;
}
.form__container {
  background-color: #fff;
  padding: 30px 28px 20px;
}
.form__title {
  font-family: "DIN Round Pro-Bold";
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  color: #000000;
  padding-bottom: 24px;
}
.main__form-body {
  display: flex;
  max-width: 1032px;
  margin: 0 auto;
}
.main__form-body > *:not(:last-child) {
  margin-right: 10px;
}
.main__form-item {
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: rgba(48, 61, 77, 0.1);
  padding-left: 20px;
}
.main__form-item img {
  padding-right: 10px;
}
.form__input {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #939daa;
}
.privacy__block {
  display: flex;
  align-items: center;
  justify-content: center;
}
.privacy__tick {
  border: 1.5px solid #303d4d;
  border-radius: 2px;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.2;
  margin-top: 5px;
  margin-right: 10px;
}
.main__privacy-text {
  font-weight: 500;
  font-size: 11px;
  line-height: 14px;
  text-align: center;
  color: #303d4d;
  opacity: 0.2;
  padding-top: 5px;
}
.popup__link {
  cursor: pointer;
}
@media (max-width: 986px) {
  .main__title {
    padding-top: 140px;
    max-width: 800px;
    margin: 0 auto;
  }
  .main__subtitle {
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 30px;
  }
  .title {
    font-size: 28px;
    line-height: 130%;
    text-align: center;
  }
  .subtitle {
    font-size: 28px;
    line-height: 130%;
    text-align: center;
  }
  .call__block-effect {
    display: none;
  }
  .main__descr {
    font-size: 18x;
    line-height: 125%;
    padding-bottom: 30px;
    margin: 0 auto;
    text-align: center;
  }
  .form__container {
    max-width: 640px;
  }
  .form__title {
    font-size: 18px;
    line-height: 130%;
    padding-bottom: 20px;
    max-width: 560px;
    margin: 0 auto;
  }
  .main__form-body {
    max-width: 320px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .main__form-body > *:not(:last-child) {
    margin-right: 0px;
    margin-bottom: 10px;
  }
  .main__form {
    padding-bottom: 35px;
  }
  .form__item {
    height: 60px;
  }
}

@media (max-width: 678px) {
  .title {
    font-size: 22px;
  }
  .subtitle {
    font-size: 22px;
  }
  .main__descr {
    font-size: 16x;
    max-width: 500px;
  }
}
@media (max-width: 600px) {
  .main__title {
    padding-top: 105px;
  }
  .main__subtitle {
    padding-bottom: 20px;
  }
  .main__descr {
    font-size: 16px;
    line-height: 125%;
    padding-bottom: 20px;
    text-align: center;
    max-width: 233px;
    margin: 0 auto;
  }
  .form__container {
    background-color: #fff;
    padding: 15px;
  }
  .form__title {
    font-size: 18px;
    line-height: 127%;
    padding-bottom: 15px;
  }
}

/* =========================================== model ============================================= */
.section__model {
  background: url("../img/model/background.png") 50% 0 no-repeat;
  background-size: cover;
}
.model__title {
  padding-top: 100px;
  padding-bottom: 50px;
}
.model__descr {
  font-weight: 400;
  font-size: 20px;
  line-height: 125%;
  text-align: center;
  color: #72747b;
  max-width: 1053px;
  margin: 0 auto;
  padding-bottom: 50px;
}
.model__content {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}
.model__item {
  display: flex;
  flex-direction: column;
}
.model__first-descr {
  background: #8a8a8a;
  padding: 20px;
  max-width: 550px;
  height: 140px;
}
.model__first-descr p {
  font-family: "DIN Pro";
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
}
.modal__vector {
  width: 27px;
  height: 27px;
}
.model__photos {
  display: flex;
  align-self: center;
}

.model__tabs {
  background-color: #fff;
  margin-top: -15px;
  position: relative;
  z-index: 3;
}
.model__tabs-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  color: #000000;
  margin: 0 auto;
  padding: 50px 214px;
}
.model__tab {
  display: flex;
  flex-direction: column;
}
.tab__items {
  display: flex;
  width: 870px;
  margin: 0 auto;
  border: 1px solid #009f9a;

  position: relative;
  z-index: 5;
}
.tab__item {
  flex: 0 1 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  color: #009f9a;
}
.tab__block {
  position: relative;
  display: none;
}

.tab__descr {
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #72747b;
  max-width: 1050px;
  padding: 50px 0px 155px 572px;
}
.first__tab {
  position: absolute;
  left: 0;
  bottom: 0;
}
.first__mask {
  position: absolute;
  left: 0;
  bottom: 50px;
}
.tab__item.active {
  background: #009f9a;
  color: #fff;
}

.tab__block.active {
  display: block;
}

.model__subdescr {
  max-width: 740px;
  margin: 0 auto;
  padding-bottom: 50px;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #72747b;
}
.model__list {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}
.model__elem {
  display: flex;
  align-items: flex-start;
  max-width: 350px;
}
.model__icon {
  padding-right: 15px;
}
.madel__elem-descr {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #000000;
}

/* ========================================= init ======================================= */

.section__init {
  background: #009f9a;
}

.init__title {
  font-family: "DIN Round Pro-Bold";
  max-width: 490px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 32px;
  line-height: 41px;
  text-align: center;
  color: #000000;

  padding-top: 89px;
  padding-bottom: 30px;
}
.init__title span {
  color: #fff;
}
.init__list {
  display: flex;
  justify-content: space-between;
  max-width: 981px;
  margin: 0 auto;
  padding-bottom: 100px;
}

.top__descr {
  font-family: 'DIN Pro-Bold';
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
  padding-bottom: 5px;
}
.bottom__descr {
  font-family: 'DIN Pro-Bold';
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #000000;
}
